
    <h1>Word Question Angular - Haqqında</h1>
    <p>
        Word Question Angular, dil öyrənməyə kömək edən bir tətbiqdir. Bu tətbiq təcrübəsi ilə dil biliklərinizi təkmilləşdirin. Tətbiqdə sözlər üçün kateqoriyalar yaratmağınıza və əsas dil və ikinci dil tərcümələrini zənginləşdirməyə imkan verir.
    </p>

    <h2>Əsas Xüsusiyyətlər:</h2>
    <ul>
        <li>Kateqoriyalar yaratmaq və sözlər əlavə etmək</li>
        <li>İnteraktiv tərcümə sualları ilə öz dil biliklərinizi sınamaq</li>
        <li>Kateqoriyaya və dilə görə tərcümələri filtrləmək</li>
        <li>Əlifba sırasına görə sözləri siyahılaşdırmaq və tərcümələri oxumaq</li>
    </ul>

    <p>
        Bu layihəni dərinləşdirilmiş dil öyrənmə təcrübəsi üçün istifadə edin və əlavə funksiyonları ilə dil və oxuma bacarıqlarınızı artırın.
    </p>

    <h2>Əlavə funksiyanlar:</h2>
    <ul>
        <li>Sözlərin səsləndirilməsi ilə tərcümələri eşidin</li>
        <li>Səhifələr arasında oxuma dialoqu</li>
        <li>AI tərəfindən yaradılmış məqalə və hekayələr</li>
    </ul>

    <p>
        Word Question Angular ilə dil öyrənmə təcrübənizi daha da maraqlı və əyləncəli hala gətirin. Hər gün bir addım daha yaxınlaşın və yeni dil bacarıqlarını əldə edin!
    </p>


    <p>
        Layihə: <a href="https://github.com/alakbarli/word-question-angular">https://github.com/alakbarli/word-question-angular</a>
    </p>