@import '../../../../../src/assets/styles/variables.scss';
.progress-spinner {
    width: 100%;
    height: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar {
    border-radius: 8px;
    width: 30%;
    height: 100%;
    background-color: $main-color;
    animation: fillProgressBar 2s linear infinite;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  }
  
  @keyframes fillProgressBar {
    0% {
        transform: translateX(-100%);
        left: 0%;
    }
    100% {
        transform: translateX(0%);
        left: 100%;
    }
  }
  