<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
    <form *ngIf="!isDelete" class="example-form" (ngSubmit)="submit()">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Teqlər</mat-label>
                <input  matInput placeholder="Məs: cat, dog" [(ngModel)]="tags" [ngModelOptions]="{standalone:true}">
              </mat-form-field>
        </div>
        <!-- <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Azərbaycan dilində tərcümə</mat-label>
                <input  matInput placeholder="Məs: Söz" [formControl]="nameAzControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nameAzControl.hasError('required')||nameAzControl.hasError('whitespace')">
                  Söz qeyd edilməlidir
                </mat-error>
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Azərbaycan dilində tərcümə</mat-label>
                <input  matInput placeholder="Məs: Söz" [formControl]="nameAzControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nameAzControl.hasError('required')||nameAzControl.hasError('whitespace')">
                  Söz qeyd edilməlidir
                </mat-error>
              </mat-form-field>
        </div> -->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>İngilis dili səviyyəsi</mat-label>
                <mat-select placeholder="Dil səviyyəsi seçin" [(ngModel)]="level" [ngModelOptions]="{standalone:true}">
                  <mat-option *ngFor="let l of levelList" [value]="l.key">
                    {{l.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Hekayə uzunluğu</mat-label>
                <mat-select placeholder="Hekayə uzunluğu seçin" [(ngModel)]="length" [ngModelOptions]="{standalone:true}">
                  <mat-option *ngFor="let l of lengthList" [value]="l.key">
                    {{l.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Süni intellekt modeli</mat-label>
                <mat-select placeholder="Süni intellekt modeli seçin" [(ngModel)]="motor" [ngModelOptions]="{standalone:true}">
                  <mat-option *ngFor="let m of motorList" [value]="m.key" [disabled]="isDisableAI(m.value)">
                    {{m.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div *ngIf="isLoading" class="form-group">
            <div class="loading-container">
                <!-- Other content or components in your app -->
                <div class="progress-spinner">
                  <div class="progress-bar"></div>
                </div>
              </div>
              
        </div>
    </form>
    <p *ngIf="isDelete">Hekayə silinməsi</p>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" class="second-button">Bağla</button>
  <button (click)="onAddClick()" [disabled]="buttonStatus||isLoading" class="main-button">{{mainButtonText}}</button>
</div>
