@import '../../../../../src/assets/styles/variables.scss';
.table-container{
  //max-width: 100%;
  //overflow-x: scroll;
  //width: 100%;
}
table {
    width: 100%;
    //table-layout: fixed;//
    td,th{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
.main-button{
  svg{
    margin-left: 5px;
  }
}
::ng-deep .all-word-select .mat-pseudo-checkbox-checked{
    background: $main-color;
}
::ng-deep .mat-select-value-text{
    //vertical-align: -webkit-baseline-middle;
}
::ng-deep .mat-form-field-underline{
  display: none;
}