
<div id="all-word" data-id="all-word" class='card'>
                    
    <div class='card-header'>
        <h1>Sözlər</h1>
    </div>
    <div class='card-body'>
        <div class="row justify-content-center">
            <div class="col-12 text-right">
                <!-- <div class="input">
                    <input class="" type="text">
                    <div class="icon">
                        <i class="fal fa-plus"></i>
                    </div>
                </div> -->
                <button (click)="addWord()" class="main-button">Söz əlavə et <i class="fal fa-plus"></i></button>
            </div>
         </div>
        <div class="row">
            <div class="col-12 mb-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-3">
                            <label for="">Bölmə</label>
                            <mat-select [(ngModel)]="unitId" (selectionChange)="change()" multiple placeholder="Bölmə seçin">
                                <mat-option class="all-word-select" *ngFor="let item of unitList" [value]="item.id">{{item.name}}</mat-option>
                              </mat-select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Azərbaycanca</label>
                            <input [(ngModel)]="wordAz" placeholder="Sözün Azərbaycan dilində tərcüməsi" class="nAz" type="text">
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">İngiliscə</label>
                            <input [(ngModel)]="wordEn" placeholder="Sözün İngilis dilində tərcüməsi" class="nEn" type="text">
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-content">
                    <div style="overflow-x:auto" class="table-responsive-sm">
                        <table class="table" style="overflow-x:auto">
                             <thead>
                                 <tr>
                                     <th>#</th>
                                     <th>Azərbaycanca</th>
                                     <th>İngiliscə</th>
                                     <th>Bölmə</th>
                                     <th>Əməlliyyat</th>
                                 </tr>
                             </thead>
                             <tbody class="word-content">
                                <tr *ngFor="let e of dataSource;let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{e.nameAz}}</td>
                                    <td>{{e.nameEn}}</td>
                                    <td>{{findUnit(e.unitId)}}</td>
                                    <td>
                                        <span (click)="editWord(e)" class="edit"><i title="Düzəliş et" class="fal fa-edit"></i></span>
                                        <span (click)="deleteWord(e)" class="remove"><i title="Sil" class="fal fa-trash-alt"></i></span>
                                    </td>
                                </tr>
                             </tbody>
                        </table>
                     </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>