@import '../../../../../src/assets/styles/variables.scss';
table {
    width: 100%;
  }
.main-button{
  svg{
    margin-left: 5px;
  }
}
::ng-deep .all-word-select .mat-pseudo-checkbox-checked{
    background: $main-color;
}
::ng-deep .mat-select-value-text{
    vertical-align: -webkit-baseline-middle;
}