<div id="main-page" data-id="word-question" class='card'>
    <div class='card-header'>
        <h1>Sual-Cavab</h1>
    </div>
    <div id="word-question" class='card-body'>
        <div class="row">
            <div class="col-12 mb-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-3">
                            <label for="">Bölmə</label>
                            <mat-select [(ngModel)]="selectedUnit" (selectionChange)="change()" multiple placeholder="Bölmə seçin">
                                <mat-option class="all-word-select" *ngFor="let item of unitList" [value]="item.id">{{item.name}}</mat-option>
                              </mat-select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Bölmə</label>
                            <mat-select [(ngModel)]="slecetedLang" (selectionChange)="change()" multiple placeholder="Bölmə seçin">
                                <mat-option class="all-word-select" *ngFor="let item of unitList" [value]="item.id">{{item.name}}</mat-option>
                              </mat-select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="unit-select">
                    <label for="">
                        Bolmə
                    </label>
                    <select class="selectUnit" name="" id="">
                        <option value="0">
                            Hamısı
                        </option>
                    </select>
                    <label style="margin-left: 15px;" for="">
                        Dil
                    </label>
                    <select class="languageSelect" name="language" id="">
                        <option value="0">
                            Hamısı
                        </option>
                        <option value="az">
                           Azərbaycan
                        </option>
                        <option value="en">
                            İngilis
                        </option>
                    </select>
                </div>
                <div class="unit-select">
                   
                </div>
                <div class="main-word">
                    <p class="word"><span class="first"></span><i title="Tərcümə et" class="d-none far fa-language"></i></p>
                    <p class="word last d-none"></p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="input d-none">
                            <input class="" type="text">
                            <div class="icon check-answer">
                                <i class="fal fa-search"></i>
                            </div>
                            <div class="icon correct-icon d-none">
                                <i class="fal fa-check"></i>
                            </div>
                            <div class="icon wrong-icon d-none">
                                <i class="fal fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="random">
                    <i class="fad fa-play"></i>
                </div>
                
            </div>
        </div>
    </div>
</div>
