<div id="main-page" data-id="word-question" class='card'>
    <div class='card-header'>
        <h1>Sual-Cavab</h1>
    </div>
    <div id="word-question" class='card-body'>
        <div class="row">
            <div class="col-12 mb-3">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-3">
                            <label for="">Bölmə</label>
                            <mat-select [(ngModel)]="selectedUnit" multiple placeholder="Bölmə seçin">
                                <mat-option class="all-word-select" *ngFor="let item of units" [value]="item.id">{{item.name}}</mat-option>
                              </mat-select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Dil</label>
                            <mat-select [(ngModel)]="slecetedLang" placeholder="Dil seçin">
                                <mat-option class="all-word-select" *ngFor="let item of langList" [value]="item.id">{{item.name}}</mat-option>
                                
                              </mat-select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="unit-select">
                   
                </div>
                <div class="main-word">
                    <p *ngIf="askedWord" class="word"><span class="first">{{askedWord}}</span><span (click)="showAnswerText()"><i title="Tərcümə et" class="far fa-language"></i></span></p>
                    <p *ngIf="showAnswer" class="word last">{{correctAnswer}}</p>
                </div>
                <div class="row justify-content-center my-2">
                    <div class="col-12 col-md-3">
                        <div *ngIf="askedWord" class="input">
                            <input  [(ngModel)]="answeredWord" (ngModelChange)="changeAnswer()"  [ngClass]="{'correct': submit&&isCorrect, 'wrong' : submit&&!isCorrect }" type="text" placeholder="Sözün tərcüməsi yazın">
                            <div *ngIf="!submit" (click)="checkAnswer()" class="icon check-answer">
                                <i class="fal fa-search" title="Yoxla"></i>
                            </div>
                            <div *ngIf="submit&&isCorrect" class="icon correct-icon">
                                <i class="fal fa-check"></i>
                            </div>
                            <div *ngIf="submit&&!isCorrect" class="icon wrong-icon">
                                <i class="fal fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div (click)="GenerateWordForQustion()" class="random">
                    <i  class="fad fa-play"></i>
                </div>
                
            </div>
        </div>
    </div>
</div>
