/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '../src/assets/styles/variables.scss';
@import '../src/assets/styles/menu-pl.scss';
@import '../src/assets/styles/popup.css';
@import '../src/assets/styles/site.css';
@import "~@angular/material/theming";
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$oauth-client-primary: mat-palette($mat-indigo);
$oauth-client-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$oauth-client-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$oauth-client-theme: mat-light-theme(
  $oauth-client-primary,
  $oauth-client-accent,
  $oauth-client-warn
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($oauth-client-theme);
html, body { height: 100%; }
body { margin: 0; font-family: $title-fam;}
.main-button{
    background-color: #443ea2;
    color: white;
}
.second-button{
    background-color: rgb(216, 216, 216);
    color: #443ea2;
}
.main-button,.second-button{
    margin: 10px;
    padding: 7px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    min-width: 75px;
}
.main-button[disabled]{
    cursor: not-allowed;
    background-color: #8a85d6;
}


.error-snackbar{
    background: red;
    color: white;
}
.success-snackbar{
    background: rgb(32, 187, 27);
    color: black;
}
.info-snackbar{
    background: #443ea2;
    color: white;
}
#all-word,#main-page{
    .mat-select-trigger{
        width: 100%;
        height: 35px;
        padding: 0 3px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #443ea2;
    }
}
.mat-select-placeholder{
   // vertical-align: -webkit-baseline-middle;
}
