@import '../../assets/styles/variables.scss';
.dashboard-nav{
    &.night-mode{
        color: $white-dark-mode!important;
        background-color: $main-color-dark-mode!important;
    }
    a{
        color: white;
        user-select: none;
        //font-family: $title-fam;
        //font-weight: 300;
    }
    .dashboard-nav-item{
        color: white;
        user-select: none;
        font-family: $title-fam;
        font-weight: 300;
    }
    .nav-item-icon{
        display: inline-block;
        width: 24px;
        
    }
}
.dashboard-toolbar{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .mode-container{
        display: inline-block;
        span{
            font-size: 20px;
            cursor: pointer;
            display: inline-block;
            padding: 5px;
        }
    }
    &.night-mode{
        background-color: black;
        color: rgb(223, 223, 223);
        .menu-toggle{
            color: rgb(223, 223, 223);
        }
    }
}

.copyright{
    font-family: $header-fam;
    font-size: 16px;
    .night-mode{
        color: $white-dark-mode!important;
    }
}
