<div (window:resize)="onResize($event)" class='dashboard' [ngClass]="{'dashboard-compact' : showDesc}">
    <div class="dashboard-nav" [ngClass]="{'mobile-show' : showMobile}">
        <header>
            <a  (click)="toggleMainMenu()" class="menu-toggle">
                <i class="fas fa-bars"></i>
            </a>
            <a [routerLink]="'/'" class="brand-logo">
                <img class="d-inline-block mr-2" src="assets/images/translate.png"/><span>Word Question</span>
            </a>
        </header>
        <nav class="dashboard-nav-list my-nav">
            <a (click)="closeSideNav()" [routerLink]="['/question']" [routerLinkActive]="['active']" data-id="word-question" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-language"></i></div> Sual cavab </a>

            <a (click)="closeSideNav()" [routerLink]="'units'" [routerLinkActive]="['active']" data-id="unit" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-books"></i></div>Bölmələr</a>
            
            <a (click)="closeSideNav()" [routerLink]="'words'" [routerLinkActive]="['active']" data-id="unit" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-list-alt"></i></div>Sözlər</a>

            <a (click)="closeSideNav()" [routerLink]="'read'" [routerLinkActive]="['active']" data-id="unit" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-newspaper"></i></div>Məqalə və hekayələr</a>
            
            <a (click)="closeSideNav()" [routerLink]="'upload'" [routerLinkActive]="['active']" data-id="add-json" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-file-upload"></i></div>Fayl yüklə(JSON)</a>

            <a (click)="generateJson()" id="save-json" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-cloud-upload-alt"></i></div>Json faylına yaz</a>

            <a (click)="clearData()" class="dashboard-nav-item upopup-item"><div class="nav-item-icon"><i class="fad fa-trash-alt"></i></div>Yaddaşı təmizlə</a>

            <a (click)="closeSideNav()" [routerLink]="'guide'" [routerLinkActive]="['active']" data-id="video-manual" id="video-manual" class="dashboard-nav-item w-nav-item"><div class="nav-item-icon"><i class="fad fa-question-square"></i></div>Video təlimat</a>

        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a (click)="toggleMainMenu()" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
        <div class='dashboard-content'>
            <div class='container w-menu-tabs' [class.d-none] = "isLoading">
                <main role="main">
                    <router-outlet></router-outlet>
                </main>
             </div>
             <!-- PRELOADER -->
             <div *ngIf="isLoading"  class='container w-menu-tabs'>
                <div id="preloader" class="row justify-content-center">
                    <div class="col-12 text-center bg-white p-3">
                        <img src="assets/images/Spinner-0.7s-323px.svg" alt="">
                    </div>
                </div>
             </div>
            <div class="copyright card-body text-center"><a target="_blank" style="text-decoration: none;color: black;" href="https://alakbarli.github.io/">© Ulvi Alakbarli</a></div>
            </div>
            
        </div>
    </div>
