<div id="add-json" data-id="add-json" class="card">
    <div class='card-header'>
        <h1>Json yüklə</h1>
    </div>
    <div class="card-body">
        <div *ngIf="errorMessage" class="json-alert">
            <div class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
        </div>
        <div *ngIf="uploaded" class="json-alert">
            <div class="alert alert-success" role="alert">
                Sözlər yükləndi
              </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="json-input-container">
                <span (click)="upload()" #icon><i class="fad fa-upload"></i></span>
                
            <input #inputFile class="" (change)="uploadFile($event)" type="file" accept="application/JSON">
            </div>
            
        </div>
        <button *ngIf="jsonUploaded" (click)="addWords()" class="main-button">Əlavə et</button>
        <div class="my-3" *ngIf="jsonUploaded" >
            {{jsonUploaded | json}}
        </div>
    </div>
</div>
