<div id="add-json" data-id="add-json" class="card">
    <div class='card-header'>
        <h1>Json yüklə</h1>
    </div>
    <div class="card-body">
        <div class="json-alert d-none">
            <div class="alert alert-danger" role="alert">
                Düzgün fayl seçin.
              </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="json-input-container">
                <i class="fad fa-upload"></i>
            <input class="" type="file">
            </div>
            
        </div>
        <div class="units"></div>
        <div class="words"></div>
        <button class="d-none" style="margin: 10px;border: none;background-color: #443ea2;color: white;cursor: pointer;">Əlavə et</button>
    </div>
</div>
